$text-base: #444;
$light-black: #888;
$bg-code: #9ad9c5;
$button-radius: 4px;

h1, h2, h3, h4, h5, h6 { font-family: 'Play', sans-serif; }

a {
  text-decoration: underline;
  color: $text-base;
}

pre, code {
  border-radius: 0;
  background-color: $bg-code;
  padding: 1rem;
  word-wrap: normal;
}

code { padding: 2px 8px; }
pre > code { padding: 0; }

blockquote {
  font-style: italic;
  color: #777;
  border-left: 4px solid #ddd;
  padding: 0 15px;
  margin-left: 0;
  margin-right: 0;
}

article img {
  max-width: 100%;
  height: auto;
  border-radius: 0;
  border: none;
  box-shadow: rgba(0,0,0,0.15) 0 1px 4px;
  box-sizing: border-box;
}

#container {
  width: 94%;
  max-width: 720px;
  margin: 0 auto;
  padding-bottom: 50px;
}

#navigation {
  list-style-type: none;
  text-align: center;
  margin: 0 0 40px;
  padding: 0;

  li {
    display: inline-block;

    a {
      display: block;
      padding: 2px 10px 4px;
      font-family: 'Play', sans-serif;
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
    }

    &:first-child a {
      border-bottom-left-radius: $button-radius;
    }

    &:last-child a {
      border-bottom-right-radius: $button-radius;
    }

    a:hover {
      color: white;
      background-color: $text-base;
    }
  }
}

.posts {
  list-style-type: none;
  padding: 0;

  li {
    padding: 4px 0;

    .date, .arrow { color: $light-black; }

    .date {
      display: inline-block;
      width: 100px;
    }

    a {
      text-decoration: none;
      padding: 0 2px;
    }

    a:hover {
      color: white;
      background-color: $text-base;
    }
  }
}

.page-header {
  margin-bottom: 20px;
  text-align: center;

  .page-meta {
    font-size: 0.9rem;
    color: $light-black;
    text-indent: 0;
    margin: 0;

    a { color: $light-black; }
    a + a:after { content: ' '; padding: 2px; }
  }
}
